#css1,#css2{
    float:right;
    color:blue;
    background-color:black
}
#css3, #spaces{
    color:blue;
    font-size: 20px;
}
#cssGuessed{
    background-color:black
}
h1{
    color:black;
    background-color: pink
}
/* #colormepretty{
    position:fixed;
    left:61%;
    z-index: 0;
    width:50%;
} */
#white{
    position:absolute;
    left:9%;
    top:15%;
    /* max-width:100px; */
    height:80%;
    width:40%;
    z-index:1
}
#picture{
    float:left
}
@media screen and (max-width:980px)
{
 
}
@media screen and (max-width:768px)
{
  
}
@media screen and (max-width:640px)
{

}
@media screen and (max-width:474px)
{
  #white{ 
      width:48%;
  }
}